                                            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
                                            /** mobile 375px  **/
                                            
                                            @media(min-width: 375px) {
                                                body {
                                                    background-color: white;
                                                    padding: 0px;
                                                    margin: 0px;
                                                }
                                                #element {
                                                    /** Mobile Background  **/
                                                    background-image: url('/assests/bg-hero-mobile.svg');
                                                    width: 375px;
                                                    height: 657px;
                                                    background-color: hsl(193, 100%, 96%);
                                                }
                                                #navbar {
                                                    padding: 50px 10px;
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                                #navbar img {
                                                    height: 20px;
                                                    padding-top: 15px;
                                                }
                                                #register {
                                                    /** button  **/
                                                    border-radius: 30px;
                                                    border: none;
                                                    background-color: white;
                                                    padding: 5px 15px;
                                                    justify-content: flex-end;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 16px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    color: hsl(208, 11%, 55%);
                                                    cursor: pointer;
                                                }
                                                /** Mobile About Section  **/
                                                #leftside {
                                                    text-align: center;
                                                    padding: 1px 20px;
                                                }
                                                #leftside h1 {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 26px;
                                                }
                                                #leftside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 15px;
                                                }
                                                #leftside button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 10px 45px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 25px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                }
                                                #rightside img {
                                                    height: 220px;
                                                    padding: 10px 50px;
                                                }
                                                /** Mobile Mid-Section **/
                                                #back {
                                                    display: block;
                                                    padding: 1px 20px;
                                                }
                                                /** Mobile card 1  **/
                                                #card1 {
                                                    display: block;
                                                    padding-top: 15px;
                                                    width: 280px;
                                                    height: 500px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
                                                    border-radius: 25px;
                                                    padding-left: 50px;
                                                    padding-bottom: 40px;
                                                    margin-top: 50px;
                                                }
                                                #rside img {
                                                    height: 220px;
                                                    width: 100%;
                                                }
                                                #lside {
                                                    width: 80%;
                                                    text-align: center;
                                                }
                                                #lside h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                    padding: 1px;
                                                }
                                                #lside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                    font-size: 13px;
                                                }
                                                /** Mobile Card 2 **/
                                                #card2 {
                                                    display: block;
                                                    padding-top: 15px;
                                                    width: 280px;
                                                    height: 500px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
                                                    border-radius: 25px;
                                                    padding-left: 50px;
                                                    padding-bottom: 40px;
                                                    margin-top: 50px;
                                                }
                                                #lside1 img {
                                                    height: 220px;
                                                    width: 100%;
                                                }
                                                #rside1 {
                                                    width: 80%;
                                                    text-align: center;
                                                }
                                                #rside1 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #rside1 p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                    font-size: 13px;
                                                }
                                                /** Mobile Card 3 **/
                                                #card3 {
                                                    display: block;
                                                    padding-top: 15px;
                                                    width: 280px;
                                                    height: 500px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
                                                    border-radius: 25px;
                                                    padding-left: 50px;
                                                    padding-bottom: 40px;
                                                    margin-top: 50px;
                                                }
                                                #lside2 {
                                                    width: 80%;
                                                    text-align: center;
                                                }
                                                #lside2 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #lside2 p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                    font-size: 13px;
                                                }
                                                #rside2 img {
                                                    height: 220px;
                                                    width: 100%;
                                                }
                                                /** Mobile Card  4 **/
                                                #card4 {
                                                    width: 280px;
                                                    height: 140px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 1px 1px 1px var(--box-shadow-color);
                                                    border-radius: 25px;
                                                    margin-bottom: -50px;
                                                    margin-top: 30px;
                                                    position: relative;
                                                    background-color: white;
                                                    padding: 5px 0px;
                                                }
                                                #card4 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 20px;
                                                    text-align: center;
                                                }
                                                #card4 button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 5px 15px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 25px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                    margin-left: 70px;
                                                }
                                                /** Mobile Footer **/
                                                a:link,
                                                a:visited {
                                                    color: white;
                                                    text-decoration: none;
                                                    cursor: auto;
                                                }
                                                footer {
                                                    background-color: hsl(192, 100%, 9%);
                                                    width: 400px;
                                                    height: 500px;
                                                    color: white;
                                                    padding: 40px 20px;
                                                }
                                                footer img {
                                                    opacity: 1;
                                                    height: 30px;
                                                    padding-top: 20px;
                                                }
                                                #footerItems {
                                                    display: block;
                                                }
                                                #address {
                                                    display: flex;
                                                    width: 100%;
                                                    gap: 10px;
                                                }
                                                #address i {
                                                    padding-top: 18px;
                                                }
                                                #mobile {
                                                    display: flex;
                                                    width: 100%;
                                                    gap: 10px;
                                                }
                                                #mobile i {
                                                    padding-top: 16px;
                                                }
                                                #email {
                                                    display: flex;
                                                    width: 100%;
                                                    gap: 10px;
                                                }
                                                #email i {
                                                    padding-top: 18px;
                                                }
                                                #sizer a :hover {
                                                    text-decoration: underline;
                                                }
                                                #contact {
                                                    width: 300px;
                                                    padding-right: 0px;
                                                }
                                                #footerIcons {
                                                    display: flex;
                                                    gap: 20px;
                                                    justify-content: center;
                                                }
                                                #circle {
                                                    height: 20px;
                                                    width: 20px;
                                                    padding: 5px;
                                                    text-align: center;
                                                    border-radius: 50%;
                                                    display: inline-block;
                                                    color: #fff;
                                                    font-size: 1.1em;
                                                    font-weight: 600;
                                                    background-color: rgba(0, 0, 0, 0.1);
                                                    border: 1px solid #fff;
                                                }
                                            }
                                            /** iPads, Tablets 768px  **/
                                            
                                            @media (min-width: 600px) {
                                                body {
                                                    background-color: white;
                                                    padding: 0px;
                                                    margin: 0px;
                                                }
                                                #element {
                                                    background-image: url('/assests/bg-hero-desktop.svg');
                                                    width: 1100px;
                                                    height: 718px;
                                                    background-color: hsl(193, 100%, 96%);
                                                }
                                                #navbar {
                                                    padding-top: 60px;
                                                    padding-left: 100px;
                                                    display: flex;
                                                    justify-content: space-evenly;
                                                }
                                                #navbar img {
                                                    margin-right: 400px;
                                                }
                                                /** Tablets About  **/
                                                #register {
                                                    border-radius: 30px;
                                                    border: none;
                                                    background-color: white;
                                                    padding: 7px 45px;
                                                    justify-content: flex-end;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 16px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    color: hsl(208, 11%, 55%);
                                                    cursor: pointer;
                                                    margin-right: 150px;
                                                }
                                                #about {
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                                #rightside img {
                                                    height: 300px;
                                                    width: 500px;
                                                    padding-top: 100px;
                                                }
                                                #leftside {
                                                    padding-top: 150px;
                                                    padding-left: 100px;
                                                }
                                                #leftside h1 {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 35px;
                                                }
                                                #leftside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 15px;
                                                    padding-bottom: 25px;
                                                }
                                                #leftside button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 10px 45px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 25px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                }
                                                /** Tablets Card 1  **/
                                                /** Tablets Mid-Section **/
                                                #back {
                                                    display: block;
                                                    padding: 50px 100px;
                                                }
                                                /** Tablets Card 1 **/
                                                #card1 {
                                                    display: flex;
                                                    padding: 50px 50px;
                                                    width: 800px;
                                                    height: 160px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                    flex-direction: row-reverse;
                                                }
                                                #rside {
                                                    padding: 0px;
                                                    margin-left: 190px;
                                                    width: 90%;
                                                }
                                                #rside img {
                                                    height: 190px;
                                                    width: 250px;
                                                }
                                                #lside {
                                                    width: 90%;
                                                }
                                                #lside h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                    text-align: left;
                                                }
                                                #lside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                    text-align: left;
                                                }
                                                /** Tablets Card 2 **/
                                                #card2 {
                                                    display: flex;
                                                    padding: 50px 50px;
                                                    width: 800px;
                                                    height: 160px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                    justify-content: space-between;
                                                }
                                                #lside1 {
                                                    width: 100%;
                                                }
                                                #lside1 img {
                                                    height: 190px;
                                                    width: 250px;
                                                }
                                                #rside1 {
                                                    width: 60%;
                                                }
                                                #rside1 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                    text-align: left;
                                                }
                                                #rside1 p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                    text-align: left;
                                                }
                                                /** Tablets Card 3 **/
                                                #card3 {
                                                    display: flex;
                                                    padding: 50px 50px;
                                                    width: 800px;
                                                    height: 160px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                    flex-direction: row-reverse;
                                                }
                                                #lside2 {
                                                    width: 90%;
                                                }
                                                #lside2 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                    text-align: left;
                                                }
                                                #lside2 p {
                                                    text-align: left;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                }
                                                #rside2 {
                                                    padding: 0px;
                                                    margin-left: 190px;
                                                    width: 90%;
                                                }
                                                #rside2 img {
                                                    height: 190px;
                                                    width: 250px;
                                                }
                                                /** Tablets Card 4 **/
                                                #card4 {
                                                    text-align: center;
                                                    width: 50%;
                                                    height: 100px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 10px;
                                                    margin-bottom: -105px;
                                                    margin-top: 100px;
                                                    position: relative;
                                                    background-color: white;
                                                    padding: 40px 30px;
                                                }
                                                #card4 h2 {
                                                    text-align: center;
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #card4 button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 12px 50px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 25px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                    margin-right: 60px;
                                                }
                                                #spacer {
                                                    display: flex;
                                                }
                                                /** Tablets Footer  **/
                                                footer {
                                                    background-color: hsl(192, 100%, 9%);
                                                    width: 1000px;
                                                    height: 240px;
                                                    padding: 50px 100px;
                                                }
                                                footer img {
                                                    opacity: 1;
                                                }
                                                #footerItems {
                                                    display: flex;
                                                    justify-content: space-evenly;
                                                }
                                                #sizer {
                                                    width: 60%;
                                                }
                                                #sizer a :hover {
                                                    text-decoration: underline;
                                                }
                                                #contact {
                                                    width: 100%;
                                                }
                                                #footerIcons {
                                                    width: 100%;
                                                    display: flex;
                                                    gap: 20px;
                                                }
                                                #circle {
                                                    height: 20px;
                                                    width: 20px;
                                                    padding: 5px;
                                                    text-align: center;
                                                    border-radius: 50%;
                                                    display: inline-block;
                                                    color: #fff;
                                                    font-size: 1.1em;
                                                    font-weight: 600;
                                                    background-color: rgba(0, 0, 0, 0.1);
                                                    border: 1px solid #fff;
                                                }
                                                #circle :hover {
                                                    color: hsl(322, 100%, 66%);
                                                }
                                                #address {
                                                    padding-right: 0px;
                                                    display: flex;
                                                    width: 90%;
                                                    gap: 40px;
                                                }
                                                #address i {
                                                    padding-top: 18px;
                                                }
                                                #mobile {
                                                    display: flex;
                                                    width: 50%;
                                                    gap: 40px;
                                                }
                                                #mobile i {
                                                    padding-top: 16px;
                                                }
                                                #email {
                                                    display: flex;
                                                    width: 50%;
                                                    gap: 40px;
                                                }
                                                #email i {
                                                    padding-top: 18px;
                                                }
                                                /* 
                                a:link,
                                a:visited {
                                    color: white;
                                    text-decoration: none;
                                    cursor: auto;
                                }
                                #element {
                                    background-image: url('/assests/bg-hero-desktop.svg');
                                    width: 768px;
                                    height: 450px;
                                    background-color: hsl(193, 100%, 96%);
                                }
                                */
                                            }
                                            
                                            @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
                                            /** Desktop 1440px  **/
                                            
                                            @media (min-width: 1160px) {
                                                body {
                                                    background-color: white;
                                                    padding: 0px;
                                                    margin: 0px;
                                                }
                                                a:link,
                                                a:visited {
                                                    color: white;
                                                    text-decoration: none;
                                                    cursor: auto;
                                                }
                                                #element {
                                                    background-image: url('/assests/bg-hero-desktop.svg');
                                                    width: 1440px;
                                                    height: 718px;
                                                    background-color: hsl(193, 100%, 96%);
                                                    padding: 0px 0px;
                                                }
                                                /* Nav bar section */
                                                #navbar {
                                                    padding: 30px 150px;
                                                    display: flex;
                                                    justify-content: space-between;
                                                }
                                                #navbar img {
                                                    padding: 0px 0px;
                                                }
                                                #register {
                                                    border-radius: 30px;
                                                    border: none;
                                                    background-color: white;
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 16px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    color: hsl(208, 11%, 55%);
                                                    cursor: pointer;
                                                    margin-right: 0px;
                                                }
                                                /** Desktop About  section **/
                                                #about {
                                                    display: flex;
                                                }
                                                #rightside {
                                                    padding-right: 50px;
                                                }
                                                #rightside img {
                                                    height: 500px;
                                                    width: 700px;
                                                    padding-top: 55px;
                                                }
                                                #leftside {
                                                    padding-top: 150px;
                                                    padding-left: 100px;
                                                    padding-right: 120px;
                                                }
                                                #leftside h1 {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 35px;
                                                }
                                                #leftside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-size: 15px;
                                                    padding-bottom: 25px;
                                                }
                                                #leftside button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 10px 45px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 25px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                }
                                                /** Desktop Mid-Section **/
                                                #back {
                                                    display: block;
                                                    padding: 0px 150px;
                                                }
                                                /** Desktop card1 section **/
                                                #card1 {
                                                    display: flex;
                                                    width: 75%;
                                                    height: 300px;
                                                    padding: 30px 150px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                }
                                                #rside img {
                                                    height: 290px;
                                                    width: 100%;
                                                }
                                                #lside {
                                                    width: 100%;
                                                    padding-top: 75px;
                                                }
                                                #lside h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #lside p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                }
                                                /** Desktop Card 2 **/
                                                #card2 {
                                                    display: flex;
                                                    width: 75%;
                                                    height: 300px;
                                                    padding: 30px 150px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                    gap: 200px;
                                                }
                                                #lside1 img {
                                                    height: 290px;
                                                    width: 100%;
                                                }
                                                #rside1 {
                                                    width: 100%;
                                                    padding-top: 75px;
                                                }
                                                #rside1 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #rside1 p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                }
                                                /** Desktop Card 3 **/
                                                #card3 {
                                                    display: flex;
                                                    width: 75%;
                                                    height: 300px;
                                                    padding: 30px 150px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 5px;
                                                }
                                                #lside2 {
                                                    width: 100%;
                                                    padding-top: 75px;
                                                }
                                                #lside2 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #lside2 p {
                                                    font-family: 'Poppins', sans-serif;
                                                    font-weight: 400;
                                                    color: hsl(208, 11%, 55%);
                                                }
                                                #rside2 img {
                                                    height: 340px;
                                                    width: 100%;
                                                }
                                                /** Desktop Card 4 **/
                                                #card4 {
                                                    text-align: center;
                                                    width: 50%;
                                                    height: 100px;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 0.25px 0.25px 1px 1px var(--box-shadow-color);
                                                    border-radius: 25px;
                                                    margin-bottom: -50px;
                                                    position: relative;
                                                    background-color: white;
                                                    padding: 35px 35px;
                                                }
                                                #card4 h2 {
                                                    font-family: 'Poppins', sans-serif;
                                                }
                                                #card4 button {
                                                    background-color: hsl(322, 100%, 66%);
                                                    padding: 10px 45px;
                                                    font-family: 'Poppins', sans-serif;
                                                    border-radius: 10px;
                                                    border: none;
                                                    color: white;
                                                    font-weight: 600;
                                                    --box-shadow-color: hsl(208, 11%, 55%);
                                                    box-shadow: 1px 2px 3px var(--box-shadow-color);
                                                    cursor: pointer;
                                                }
                                                #spacer {
                                                    display: flex;
                                                }
                                                /** Desktop Footer  **/
                                                footer {
                                                    background-color: hsl(192, 100%, 9%);
                                                    width: 100%;
                                                    height: 100%;
                                                    color: white;
                                                    padding: 60px 100px;
                                                }
                                                footer img {
                                                    opacity: 1;
                                                }
                                                #footerItems {
                                                    display: flex;
                                                    justify-content: space-evenly;
                                                }
                                                #sizer {
                                                    width: 60%;
                                                }
                                                #sizer a :hover {
                                                    text-decoration: underline;
                                                }
                                                #contact {
                                                    width: 100%;
                                                }
                                                #footerIcons {
                                                    display: flex;
                                                    gap: 20px;
                                                }
                                                #circle {
                                                    height: 20px;
                                                    width: 20px;
                                                    padding: 5px;
                                                    text-align: center;
                                                    border-radius: 50%;
                                                    display: inline-block;
                                                    color: #fff;
                                                    font-size: 1.1em;
                                                    font-weight: 600;
                                                    background-color: rgba(0, 0, 0, 0.1);
                                                    border: 1px solid #fff;
                                                }
                                                #circle :hover {
                                                    color: hsl(322, 100%, 66%);
                                                }
                                                #address {
                                                    padding-right: 0px;
                                                    display: flex;
                                                    width: 80%;
                                                    gap: 40px;
                                                }
                                                #address i {
                                                    padding-top: 18px;
                                                }
                                                #mobile {
                                                    display: flex;
                                                    width: 50%;
                                                    gap: 40px;
                                                }
                                                #mobile i {
                                                    padding-top: 16px;
                                                }
                                                #email {
                                                    display: flex;
                                                    width: 50%;
                                                    gap: 40px;
                                                }
                                                #email i {
                                                    padding-top: 18px;
                                                }
                                            }